Default: &defaults
  database: Attendance.sqlite3
  poolsize: 10

Development:
  <<: *defaults

Testing:
  database: Attendance_test.sqlite3
  <<: *defaults

Staging:
  database: Attendance_staging.sqlite3
  poolsize: 100
  <<: *defaults

Production:
  database: Attendance_production.sqlite3
  poolsize: 100
  <<: *defaults
